@font-face {
    font-family: Eurofurence;
    src: url("assets/fonts/eurofurence.ttf");
}

html {
    height: 100vh;
    width: 100vw;
}

/* Glass Frame Styles */
/* ############################################################## */
.lang {
    /*text-shadow: 0px 0px 0px white;*/
    transition: text-shadow 0.3s ease;
}

.lang:hover{
    text-shadow: 0px 0px 5px blue;
}

#start {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    color: #333333;
    transform: translate(0,0);
    transition: transform 2s ease .1s;
}

#start_content {
    position: absolute;
    margin: auto;
    margin-top: 15vh;
    margin-left: 31vw;
}

#background {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url("assets/imgs/bg.jpg");
    background-size: cover;
    filter: blur(5px);
    transition: filter 2s ease-out;
}

#glass_frame {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: white;
    filter: opacity(60%);
    box-shadow: 0px 3px 20px black;
}

#glass_text {
    z-index: 2;
    position: relative;
    font-family: Eurofurence;
    font-size: 13vh;
}

#start_sheep {
    z-index: 2;
    position: relative;
    background: url("assets/imgs/start_sheep.png") left center;
    background-size: 192px 152px;
    margin: auto;
    margin-top: -9vh;
    height: 152px;
    width: 192px;
    filter: opacity(90%);
    transition: transform 1.5s ease-in;
}

#start_text {
    z-index: 2;
    position: relative;
    font-family: Eurofurence;
    font-size: 7vh;
}
/* ############################################################## */

#greet {
    z-index: 1;
    position: relative;
    color: #111111;
    font-family: Eurofurence;
    font-size: 10vw;
    text-align: center;
    margin-top: 35vh;
    filter: opacity(0%);
    transition: filter 1s ease 2s;
}
